.header{
    height: 44px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.container_nav{
    max-width: 900px;
    display: flex;
}
.ul-container{
    display: flex;
    justify-content: space-between;
}
.item-nav{
    margin-right: 20px;
}
.Link{
    text-decoration: none;
    color: black;
}

/*start main*/

.container-main{
    padding: 50px 50px 50px 50px;
}
.Titel{
    font-size: 35px;
    margin-bottom: 150px;
}
.wrapper-main-items{
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.item-main{
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    width: 400px;
    min-height: 300px;
    margin-right: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: start;
    background-color: white;
    border: 2px solid #19213D;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.item-main:hover{
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button-task{
        margin-bottom: 100px;
        width: 100px;
        background-color: white;
        border: 2px solid #00BFFF;
        border-radius: 10px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-task:hover{
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.label{
    max-width: 100%;
    cursor: pointer;
    line-height: 30px;
}
.inputTaskCheckbox{
    border: 1px solid #3F72AF;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    background: green;
}
.inputTaskCheckbox:hover {
    background-color: green;
}


.inputTaskEdit{
    border: 1px solid #3F72AF;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    margin-right: 10px;
    background-color: #19213D;
    color: white;
}  
.inputTaskEdit:hover{
    background-color: rgb(32, 128, 218);
}   
.inputTaskRemove{
    border: 1px solid #3F72AF;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    background-color: #19213D;
    color: white;
}
.inputNewTitel{
    margin-top: 20px;
}
.inputTaskTitle{
    max-width: 100%;
    word-wrap: break-word;
}


.container-new-task{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.label-text{
    width: 100%;
}
.inputTaskText{
    margin-bottom: 20px;
    width: 100%;
    min-height: 40px;
    border: 2px solid #a8cefd;
    border-radius: 15px;
}


/* start Footer */

.Footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}